body{
    text-align: center;
}
#image1{
    margin-bottom:100px;
}
#para1{
 background: linear-gradient(blue 0%, #27ae60 80%);   
}
.paras{
    font-size: 36px;
    color:white;
}
.list{
    font: 30px;
    text-align: center;
}
#divi{
background: linear-gradient(red 20%, yellow 80%);    
}
#last{
 background: linear-gradient(cyan 20%, yellow 80%);     
}